fastapi==0.110.0
uvicorn==0.30.0
python-dotenv==1.0.1
requests==2.31.0
langchain-core==0.2.13
langchain==0.2.1
langchain-community==0.0.29
langchain-huggingface==0.2.0
chromadb==0.4.24
PyPDF2==3.0.1
sentence-transformers==2.5.1
pydantic==2.7.1